[submodule "lib/requirejs"]
	path = lib/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "lib/when"]
	path = lib/when
	url = git://github.com/cujojs/when.git
[submodule "lib/es5-shim"]
	path = lib/es5-shim
	url = git://github.com/kriskowal/es5-shim.git
[submodule "lib/text"]
	path = lib/text
	url = git://github.com/requirejs/text.git
[submodule "lib/i18n"]
	path = lib/i18n
	url = git://github.com/requirejs/i18n.git
[submodule "lib/domReady"]
	path = lib/domReady
	url = git://github.com/requirejs/domReady.git
[submodule "lib/doT"]
	path = lib/doT
	url = git://github.com/olado/doT.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "lib/backbone"]
	path = lib/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "lib/kob-model"]
	path = lib/kob-model
	url = git@bitbucket.org:sithy/kob-model.git
[submodule "lib/showdown"]
	path = lib/showdown
	url = git://github.com/coreyti/showdown.git
[submodule "lib/has"]
	path = lib/has
	url = git://github.com/phiggins42/has.js.git
[submodule "lib/lodash"]
	path = lib/lodash
	url = git://github.com/bestiejs/lodash.git
[submodule "lib/knockout"]
	path = lib/knockout
	url = git://github.com/SteveSanderson/knockout.git
[submodule "lib/director"]
	path = lib/director
	url = git://github.com/flatiron/director.git
