<div class="row-fluid">
    <div class="span12">
        <h2>Concept</h2>
        <p>
            Thrust helps you utilize Module Pattern, Mediator Pattern and Facade pattern in your client side architecture.
        </p>
        <p>
            Each module should have a single dedicated role, it knows what it needs to operate, and how to operate it.  The one thing Thrust will not do,
            is tie you into a specific view pattern.  MVC? Go ahead! MVVM? We love knockout too! MVP? Present however you want.  No matter the MV* pattern you
            choose, a individual thrust module generally fits into the "*" part, linking the Model and the View together into a cohesive unit.
        </p>
        <p>
            No two modules know of the others existance, for inter-module communication you can use the pub/sub functionality from <strong>thrust/mediator</strong>.<br />
            Some modules may be dependant on others being loaded, but that is to tell thrust what else it needs to wireup, communication is still done via events.
        </p>
    </div>
</div>